body {
    margin: 0;
    padding: 0;
    background: #4577b6;
    font-family: sans-serif;
    font-size: 11pt;
    color: #787878;
}
h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    color: #3DA29B;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 2.8em;
}

h3 {
    font-size: 1.6em;
}
p, ul, ol {
    margin-top: 0;
    line-height: 180%;
}
a {
    text-decoration: none;
    color: #5E5E5E;
}
a:hover {
    text-decoration: underline;
}
#wrapper {
    padding-top: 10px;
}
.container {
}
#header-wrapper {
    overflow: hidden;
    margin: 0 auto;
    height: 87px;
    width: 1000px;
}

#header {
    width: 1000px;
    height: 87px;
    margin: 0 auto;
    background: #7aabd6;
}
#logo {
    float: left;
    width: 300px;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}
#menu {
    float: right;
    width: 500px;
    height: 90px;
    margin: 0 auto;
    padding: 0;
}
#menu ul {
    float: right;
    padding-top: 62px;
    padding-right: 10px;
    list-style: none;
    line-height: normal;
}
#menu li {
    float:left;
    vertical-align:text-bottom;
    list-style-type:none;
    margin: 0px 2px 0px 0px;
    padding: 0px 0px 0px 0px;
    white-space:nowrap;
}
#menu li a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin: 0;
    padding: 4px 10px 4px 10px;
}
#menu li a:hover {
    background:#fff; 
    color:#787878;
}
#menu li a.selected, #menu li a.selected:hover {
    background:#fff; 
    color:#555;
}
#info {
    overflow: hidden;
    width: 1000px;
    margin: 0 auto;
    padding: 0 auto;
    background: #FFFFFF;
}
#logininfo {
    float: left;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 8pt;
    color: #000;
    font-weight: lighter;
}
#page {
    overflow: hidden;
    width: 900px;
    margin: 0 auto;
    padding: 2em 50px 2em 50px;
    background: #FFFFFF;
}
#content {
    float: left;
    width: 750px;
}
.success, .error {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../images/success.png');
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../images/error.png');
}